<center>
    <div id="glav">Розділи<hr /></div>
    <div id="categories">
        <ul class="list-categories">
            <li class="list-categoryItem">
                <a asp-area="Admin" asp-controller="mens" asp-action="jackets"  class="linkGlav">Jackets</a>
            </li>
            <li class="list-categoryItem">
                <a asp-area="Admin" asp-controller="mens" asp-action="tshirts" asp-route-category="" class="linkGlav">T-Shirts</a>
            </li>
            <li class="list-categoryItem">
                <a asp-area="Admin" asp-controller="mens" asp-action="hoods" class="linkGlav">Hoodies</a>
            </li>
        </ul>
    </div>
</center>