<span class="footerButtons">
    <a href="#">Sign In</a>
    /
    <a href="#">Info</a>
</span>
<span class="right">
    <a href="#" title="Instagram"><img class="SocialBtns" src="img/inst.jpg" /></a>
</span>
<span>

</span>