<header>
    <div class="header-wrap">
        <!--<div>
            <button>
                <svg>

                </svg>
            </button>
        </div>-->
        <span class="nav">
            <ul class="header-links">
                <li class="header-link-item"><a asp-area="" asp-controller="Shop" asp-action="ProductsforMen" asp-route-category="" class="header-link">Товари</a></li>
                <li class="header-link-item"><a href="#" class="header-link">УУУУ</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="" class="header-logo">Wall</a></li>
                <li class="header-link-item"><a href="#" class="header-link">УУУУ</a></li>
                <li class="header-link-item"><a href="#" class="header-link">Контакти</a></li>
            </ul>
        </span>
    </div>
</header>